*{
    appearance: none;
}

body {
    width: 100vw;
    height: 100vh;
}

body > div {
    width: inherit;
    height: inherit;
    display: flex;
}

.image_holder {
    width: 30vw;
    background-image: url("image.jpg");
    background-size: cover;
    background-position: left center;

    /* background-color: brown; */
}